doctype html

html(lang='pt-br')
    head
        title Hexablau
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')

        //- JQuery (biblioteca JavaScript)
        script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")

        //- Select2 (plugin para dropdowns)
        link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")

    body
        include components/header/header
        main.container
