.main-header-wrapper
    .main-header#main-header
        .current-user#main-header__current-user(title='Meu perfil')
            .user-pic
                //+addIcon('user')
            h3#main-header__username.white-text
        #main-header__semester-selector
        #main-header__log-out
